
obj/Debug/net6.0-windows/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0-windows/apphost.exe
obj/Debug/net6.0-windows/ref/TheUltiKit.dll
obj/Debug/net6.0-windows/refint/TheUltiKit.dll
obj/Debug/net6.0-windows/TheUltiKit.AssemblyInfo.cs
obj/Debug/net6.0-windows/TheUltiKit.AssemblyInfoInputs.cache
obj/Debug/net6.0-windows/TheUltiKit.assets.cache
obj/Debug/net6.0-windows/TheUltiKit.csproj.AssemblyReference.cache
obj/Debug/net6.0-windows/TheUltiKit.csproj.BuildWithSkipAnalyzers
obj/Debug/net6.0-windows/TheUltiKit.csproj.CopyComplete
obj/Debug/net6.0-windows/TheUltiKit.csproj.CoreCompileInputs.cache
obj/Debug/net6.0-windows/TheUltiKit.csproj.FileListAbsolute.txt
obj/Debug/net6.0-windows/TheUltiKit.csproj.GenerateResource.cache
obj/Debug/net6.0-windows/TheUltiKit.designer.deps.json
obj/Debug/net6.0-windows/TheUltiKit.designer.runtimeconfig.json
obj/Debug/net6.0-windows/TheUltiKit.dll
obj/Debug/net6.0-windows/TheUltiKit.Form1.resources
obj/Debug/net6.0-windows/TheUltiKit.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0-windows/TheUltiKit.genruntimeconfig.cache
obj/Debug/net6.0-windows/TheUltiKit.GlobalUsings.g.cs
obj/Debug/net6.0-windows/TheUltiKit.pdb
obj/project.assets.json
obj/project.nuget.cache
obj/TheUltiKit.csproj.nuget.dgspec.json
obj/TheUltiKit.csproj.nuget.g.props
obj/TheUltiKit.csproj.nuget.g.targets
bin/Debug/net6.0-windows/DarkNet.dll
bin/Debug/net6.0-windows/TheUltiKit.deps.json
bin/Debug/net6.0-windows/TheUltiKit.dll
bin/Debug/net6.0-windows/TheUltiKit.exe
bin/Debug/net6.0-windows/TheUltiKit.pdb
bin/Debug/net6.0-windows/TheUltiKit.runtimeconfig.json
